// Begin default theme (dark)

$background-dark: #282c34;
$primary-dark: #FF6BA4;
$secondary-dark: #43B5A0;

// End default theme (dark)
// -----------------------
// Begin light theme

$background-light: #FAFDF3;
$primary-light: #43B5A0;
$secondary-light: #FF6BA4;

// End light theme
