// Begin default theme (dark)
$background-dark: #282c34;
$primary-dark: #FF6BA4;
$secondary-dark: #FFC759;
// End default theme (dark)
// -----------------------
// Begin light theme
$primary-light: #43B5A0;
// End light theme
